@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  font-family: 'Sriracha', cursive;
  background-color: burlywood;
  font-weight: bold;
}

h1 {
  margin:0em;
}

#town {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  align-items:baseline;
  justify-content: center;
  border: 2px solid saddlebrown;
  background-color: #fff;
  border-radius: 1em;
  padding:1em;
  margin: 1em;
}

.unitList {
  margin: 1em;
}

.unitEntry {
  display: flex;
  flex-direction: row;
}


.unitEntry output {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: saddlebrown;
    margin: 0em 1em 0em 1em;
    font-size: 0.8em;
}

#battle {
  border: 2px solid saddlebrown;
  background-color: #fff;
  border-radius: 1em;
  padding:1em;
  margin: 1em;
  text-align: center;
}

.hidden {
  display:none;
}

button {
  display: inline-block;
  font-family: 'Sriracha', cursive;
  border: none;
  padding: 0rem 2rem;
  border-radius: 0.2em;
  border: 3px solid darkred;
  margin: 0.5em;
  text-decoration: none;
  background: #b00b0b;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: red;
  transform: scale(1);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
  transform: scale(1);
}

button:active {
  transform: scale(0.8);
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E6D4A5;
  border-radius: 4px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 3px solid #633F08;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: #A8661B;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E6D4A5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E6D4A5;
  border-radius: 4px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 3px solid #633F08;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: #A8661B;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #7e4101;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #E6D4A5;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 3px solid #633F08;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: #A8661B;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #7e4101;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E6D4A5;
}

